[Unit]
Description=HTTP python
Wants=network-online.target
After=network-online.target

[Service]
Type=simple

# check if user is able to execute file
ExecStartPre=/usr/bin/test -x /usr/local/bin/server.py
ExecStart=/usr/local/bin/server.py

Restart=always
RestartSec=300

TimeoutStartSec=0
KillMode=process

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
