
[Unit]
Description=Get overview of local network
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
# low priority=19, high priority=-20
Nice=19
ExecStart=/usr/local/bin/netstats.sh
