[Unit]
Description=netstats.service job

[Timer]
# To add a time of your choosing here: `man systemd.time`
OnBootSec=1min
OnUnitActiveSec=5min
Unit=netstats.service

[Install]
WantedBy=timers.target
