[Unit]
Description=watchdog.service job

[Timer]
# To add a time of your choosing here: `man systemd.time`
OnBootSec=1min
OnUnitActiveSec=2h
Persistent=true
Unit=watchdog.service

[Install]
WantedBy=timers.target
